# Node modules
node_modules/

# Build output
build/
dist/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# IDE and editor files
.idea/
.vscode/
.DS_Store

# Environment variables
.env
.env.local